.opd-nurse-dashboard-tab-bar {
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0; }
  .opd-nurse-dashboard-tab-bar-active-tab {
    border: none;
    outline: none;
    border-bottom: 5px solid #FFCE67;
    width: 200px;
    height: 40px;
    background-color: Transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    font-family: "Open Sans"; }
  .opd-nurse-dashboard-tab-bar-in-active-tab {
    width: 200px;
    height: 40px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 100;
    font-family: "Open Sans"; }
  .opd-nurse-dashboard-tab-bar :focus {
    border: none;
    outline: none;
    border-bottom: 5px solid #FFCE67; }

.opd-nurse-dashboard-tab-container {
  margin: 5vh 0vh 5vh 0vh;
  min-height: 48vh; }
  .opd-nurse-dashboard-tab-container h1 {
    margin-left: 2vh; }
