.clr-bth {
  clear: both; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

* html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }
